<!DOCTYPE html>
<html lang="nl">
    <head>
        <title>Occasies &amp; Vintage | Blazers &amp; Blazers</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href='https://fonts.googleapis.com/css?family=Tinos:400,700italic,700,400italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,300italic,600italic,700,700italic' rel='stylesheet'>
        <link rel="stylesheet" href="css/generic.css"/>
        <link rel="stylesheet" href="css/fonts.css"/>
        <link rel="stylesheet" href="css/screen.css"/>
        <link rel="stylesheet" href="css/occasies.css"/>
        <style type="text/css">
            #banner_container img {
                max-width: 100%;
            }
        </style>
    </head>
    <body>
        <div id="wrapper">
            {% include 'partials.header' %}
            <section id="banner_container">
                <div class="col">
                    <img src="uploads/bannerfotos/DSC_0049.jpg" alt=""/>
                </div>
            </section>

            {% block content %}
            {% endblock %}

            {% include 'partials.footer' %}
        </div>
        <script src="js/jquery.min.js"></script>
        <script src="js/scripts.js"></script>
    </div>
</body>
</html>