{% extends 'layout' %}

{% block content %}
    <section id="content" class="clearfix">
        <div class="col">
            <div>
                <div class="filters clearfix" id="filters">
                    <label id="lblSearch">zoek op instrument:</label>
                    <select id="ddlHout">
                        <option value="-1">HOUTBLAZERS</option>
                        <option value="all">ALLE</option>
                        <option value="Altklarinet">Altklarinet</option>
                        <option value="Altsax">Altsax</option>
                        <option value="Basklarinet">Basklarinet</option>
                        <option value="Dwarsfluit">Dwarsfluit</option>
                        <option value="Fagot">Fagot</option>
                        <option value="Hobo">Hobo</option>
                        <option value="Klarinet">Klarinet</option>
                        <option value="Sopraansax">Sopraansax</option>
                        <option value="Tenorsax">Tenorsax</option>
                    </select>
                    <select id="ddlKoper">
                        <option value="-1">KOPERBLAZERS</option>
                        <option value="all">ALLE</option>
                        <option value="Alto">Alto</option>
                        <option value="Bastuba">Bastuba</option>
                        <option value="Bugel">Bugel</option>
                        <option value="Cornet">Cornet</option>
                        <option value="Euphonium">Euphonium</option>
                        <option value="Trombone">Trombone</option>
                        <option value="Trompet">Trompet</option>
                    </select>
                    <a href="#" id="lnkAll">bekijk alle occasies</a>
                </div>
                <h3 class="separator">occasies</h3>
                <hr>
                <div id="houtblazers" class="occasies">

                    <div class="item clearfix" data-subtype="Trompet">
                        <div class="clearfix">
                            <div class="title">
                                <p>Trompet Yamaha Custom</p>
                            </div>
                            <div class="left">
                                <div class="images thumbs">
                                    <a href="uploads/occasies/photos/Trompet_Yamaha_Custom_3.JPG" class="photo"><img src="uploads/occasies/thumbs/Trompet_Yamaha_Custom_3.JPG" alt=""/></a>
                                    <a href="uploads/occasies/photos/Trompet_Yamaha_Custom_1.JPG" class="photo"><img src="uploads/occasies/thumbs/Trompet_Yamaha_Custom_1.JPG" alt=""/></a>
                                </div>
                            </div>
                            <div class="right">
                                <p>
                                    Trompet Yamaha model YTR 934.
                                </p>
                                <p>
                                    &nbsp;
                                </p>
                                <p>
                                    <a href="#" class="contact_us">&gt; contacteer ons voor meer info</a>
                                </p>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}