<footer>
    <div class="col">
        <div class="logo">
            <a href="/"><img src="images/logo.png" alt="logo"/></a>
        </div>
        <p class="address">
            <span class="line">Einde Were 62 • 9000 Gent</span>
            <span class="dot">•</span>
            <span class="line">
                t +32 (0)9 223 14 28</span>
            <span class="dot">•</span>
            <span class="line">
                <a href="info@blazersenblazers.be">info@blazersenblazers.be</a></span></p>
        <p class="lbl_openinghours">openingsuren</p>
        <p class="msg_openinghours">
            <span class="line">dinsdag t.e.m. vrijdag: 13u – 17u30</span>
            <span class="dot">•</span>
            <span class="line">zaterdag: 13u – 16u30</span>
            <span class="dot">•</span>
            <span class="line">of op afspraak</span></p>
        <p class="designed_by">DESIGNED BY
            <a href="missmoss.be" title="Miss Moss"><img src="images/logo_mismoss.png"></a>
        </p>
    </div>
</footer>