/*
 * Blog css file
 */

/* ===========================================
    Content
    =========================================== */
.blogs__title {
  display: none;
}
/* =============================================
* BLOG - BLOG
=============================================== */

.page__content {
  margin-top: 5rem;
}

.blogs__blog {
  display: inline-block;
  margin-bottom: -0.6rem;
  color: #fff;
  border: 1px #fff solid;
  background-color: #fff;
}

.blog__left {
  float: left;
  width: 33.37%;
  background-color: #fff;
  color: #fff;
  border-right: 2px #fff solid;
  position: relative;
  overflow: hidden;
}
.blog__title {
  text-align: center;
  margin-top: 2rem;
}

.left__info {
  position: absolute;
  width: 80%;
  bottom: 0;
  left: 10%;
}

.left__img {
  width: 100%;
  display: block;
}

.info__profileName {
  float: left;
}

.info__date {
  float: right;
}

.blog__right {
  width: 66.63%;
  float: right;
  line-height: 2.4rem;
  padding-bottom: 2rem;
  background-color: #000;
}

.blog__right p {
  margin: 1rem 3rem 0 4rem;
}

/* alternate article's */

.blogs__blog:nth-child(odd) .blog__left {
  float: right;
  border-left: 2px #fff solid;
  border-right: 0;
}

.blogs__blog:nth-child(odd) .blog__right {
  float: left;
  background-color: #c20e1a;
}