/*
 * Contact css file
 */

/* ===========================================
    Content
    =========================================== */

/* =============================================
* CONTACT - CONTACT
=============================================== */

/* =============================================
* CONTACT - VOORUIT
=============================================== */

.vooruit__link img {
    display: block;
    margin: auto;
}

/* =============================================
* CONTACT - CHAT
=============================================== */

.chat__chatbox {
    width: 100%;
    margin: 0 auto;
}