/*
 * Evenement css file
 */

/* ===========================================
    Content
    =========================================== */

    .page__content{
        margin-top: 5rem;
    }

    

/* =============================================
* EVENEMENT - INTRO
=============================================== */


    .introduction__title{
        display: block;
        width: 33%;
        float: left;
        height: 12vw;
        line-height: 12vw;
        text-align: center;
        color:white;
        background-color: black;
        margin: 0;
        border: solid white 1px;
    }
    .introduction__text{
        display: block;
        width: 67%;
        float: left;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 3rem;
        
    }

/* =============================================
* EVENEMENT - LIST
=============================================== */


.program__title{
        display: block;
        width: 33%;
        float: left;
        height: 12vw;
        line-height: 12vw;
        text-align: center;
        color:white;
        background-color: black;
        margin: 0;
        border: solid white 1px;
}

.introduction__info {
    display: block;
    width: 33%;
    float: left;
    height: 12vw;
    color: white;
    background-color: #c20e1a;
    text-align: center;
    border: solid white 1px;
}
.introduction__info h3{
    position: relative;
    top:5rem;
}

#sfeerimg{
    width: 33%;
    float: left;
    border: white solid 1px;
    height: 12vw;
}



.program__list {
    list-style: none;
}

.list__item {
    display: block;
    align-items: center;
}

.item__img {
    width: 33%;
    float: left;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    background: black;
    border:white solid 1px;
}

.item__text {
    width: 66%;
    float: left;
    padding: 2rem;
}