/*
 * Evenement css file
 */

/* ===========================================
    Content
    =========================================== */

/* =============================================
* EVENEMENT - INTRO
=============================================== */

/* =============================================
* EVENEMENT - LIST
=============================================== */

.program__list {
    list-style: none;
}

.list__item {
    display: flex;
    align-items: center;
}

.item__img {
    width: 20%;
    float: left;
    padding-right: 3rem;
    padding-top: 1.5rem;
}

.item__text {
    width: 80%;
    float: right;
}