/*
 * Index css file
 */

/* ===========================================
    Content
    =========================================== */

/* =============================================
* INDEX PAGE - INFOGRAPHIC
=============================================== */

/* =============================================
* INDEX PAGE - CONTENT
=============================================== */

.content__list {
    list-style: none;
}

.content__list img {
    max-width: 100%;
    display: block;
    min-height: 100%;
}

.content__list li {
    display: inline-block;
}

.content__main .column {
    width: 33.33%;
    float: left;
    height: 30rem;
    border: #fff 1px solid;
}

.column__black{
    background-color: #000;
}

.column__red{
    background-color: #c20e1a;
    text-align: center;
}
.column__red h3{
    position: relative;
    top: 10rem;    
}

.column h3{
    color: #fff;
    padding:0 5%;
    font-size: 2.2rem;
}

#verstandig{
    float: right;
}

#opstandig{
    position: relative;
    top: 20rem;
}

.column__intro{
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.first{
    background-color: #000;
}

.content__main p {
    text-align: left;
}

.content__main{
    margin-top:4rem;
}

/* ==========================================================================
   Resposive stuff
   ========================================================================== */

@media (max-width: 55em){
    .content__main .column{
        height: 23rem;
    }
    #opstandig{
        top: 14rem;
    }
    .column__red h3{
        top: 6rem;    
    }
}

@media (max-width: 45em){
    .content__main .column{
        width: 50%;
        height: 25rem;
    }
    #opstandig{
        top:17rem;
    }
}




