/*
 * Manifest css file
 */

/* ===========================================
    Content
    =========================================== */

/* =============================================
* MANIFEST - MANIFEST
=============================================== */

.manifest__file {
    width: 105%;
}

.page__content {
    margin: -2.5rem 0 -4rem -3.5rem;
    overflow: hidden;
}

.page__footer {
    margin-top: 0rem;
}