/*
 * Basic css file
 */

/* ===========================================
    General
    =========================================== */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    /* use border-box box model everywhere */
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #EEE;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 1.4rem;
    margin-top: 0rem;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Exo, sans-serif;
}

a {
    text-decoration: none;
    color: #428bca;
    outline: none;
}

a:hover {
    color: #2a6496;
}

.page__wrapper {
    max-width: 96rem;
    min-width: 48rem;
    margin: auto;
    background-color:#FFF;
}

h2, h3 {
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.page__content {
    padding: 0 1rem 0 1rem;
}

/* ===========================================
    Header
    =========================================== */

header {
    padding: 1rem;
    background-color: #999;
}

/* logo */

.header__logo {
    float: left;
    margin-left: 1rem;
}

.header__logo a {
    background-image: url(../img/logo.png);
	width: 12rem;
	height: 12rem;
	background-repeat: no-repeat;
}

.logo__title {
    font-size: 4rem;
}

.logo__title a {
    color: #333;
}

.logo__title a:hover {
    text-decoration: none;
}

.logo__title p {
    font-size: 1.4rem;
    color: #555;
    font-style: italic;
    text-align: center;
}

/* navigation */

.header__navigation {
    list-style: none;
    font-size: 1.4rem;
    font-weight: bold;
    float: right;
    margin-top: 2rem;
    margin-right: 1rem;
}

.navigation__menu li {
    display: inline-block;
}

.navigation__menu a {
    padding: 1rem 1.5rem 1rem 1.5rem;
    color: #fff;
    background-color: #888;
    display: block;
    text-decoration: none;
}

.navigation__menu a:hover, .navigation__menu a.selected {
    color: #fff;
    background-color: #333;
}

/* ===========================================
    Footer
    =========================================== */

.page__footer {
	padding: 3rem;
	text-align: center;
	color: #e9e9e9;
	line-height: 2.5rem;
    background-color: #999;
}

.page__footer a {
    color: #333;
}

.page__footer a:hover, .page__footer a.selected {
    color: #000;
}