/*
 * Basic css file
 *
 * @author Wiebe Willems
 */

/* ===========================================
    General
    =========================================== */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    /* use border-box box model everywhere */
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #e5e9ed;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 1.4rem;
    margin-top: 2rem;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Exo, sans-serif;
}

a {
    text-decoration: none;
    color: #428bca;
    outline: none;
}

a:hover {
    color: #2a6496;
}

.page__wrapper {
    max-width: 96rem;
    min-width: 48rem;
    margin: auto;
}

/* ===========================================
    Header
    =========================================== */

header {
    padding: 1rem;
    background-color: #999;
}

/* logo */

.header__logo {
    margin-left: 5.5rem;
    margin: 0 auto;
    text-align: left;
}

.logo__title {
    font-size: 4rem;
}

.logo__title a {
    color: #333;
}

.logo__title a:hover {
    text-decoration: none;
}

.logo__title p {
    font-size: 1.4rem;
    color: #555;
    font-style: italic;
    text-align: center;
}

/* navigation */

.header__navigation {
    margin-top: 0.7rem;
    list-style: none;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0 2%;
}

.header__navigation li {
    margin: 0.5rem 0;
}

#mainmenu a {
    color: #fff;
    background-color: #888;
    display: block;
    padding: 1% 2%;
    text-decoration: none;
}

#mainmenu a:hover, #mainmenu a.selected {
    color: #fff;
    background-color: #333;
}

/* banner */

#banner {
    clear: both;
    display: none;
}

/* ===========================================
    Content
    =========================================== */

/* ===========================================
    Footer
    =========================================== */

.page__footer {
    background-color: #fff;
    min-height: 20rem;
    padding: 6rem 6rem 2rem;
    text-align: center;
}

/* ===========================================
    Media queries
    =========================================== */

@media (min-width: 30em) {
    /* 480px */
}

@media (min-width: 37.5em) {
    /* 600px */
}

@media (min-width: 50em) {
    /* 800px */
}

@media (min-width: 60em) {
    /* 960px */
}